

.blog {
    background-color: #152429;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.wrapper {
    background-image: url("/images/docs1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 800px;
    margin-bottom: 40px;
}

.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
}

.hero h1 {
    font-family: Bodoni Moda;
    font-size: 35px;
    margin-bottom: -20px;
}

.hero h6 {
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 200;
}

.ctaButton button {
    width: 450px;
    height: 30px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    background-color: #8ca2f361;
    font-size: 18px;
    font-family: Quicksand;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-bottom: 80px;
}

.ctaButton button:hover {
    background-color: rgba(191, 227, 227, 0.219);
    color: rgb(255, 255, 255);
}

.loadMoreContainer {
    text-align: center;
    margin: 40px 0;
}

.loadMoreButton {
    padding: 12px 24px;
    background-color: #8ca2f361;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Quicksand;
}

.loadMoreButton:hover {
    background-color: #23373e;
}
